PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://saigunasekharreddy123_db_user:YchS2aFauYOh5N9f@cluster0.pcfzc8d.mongodb.net/dms?retryWrites=true&w=majority
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1d
