@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: Inter, "Segoe UI", Roboto, Arial, sans-serif;
  background: #f5f7fb;
}
/* You can add global styles to this file, and also import other style files */
